* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: #f4f4f4;
}

.paragraph {
  color: yellow;
}

.link {
  color: skyblue;
}

.list {
  width: 200px;
  margin: 0 auto;
  margin-top: 2rem;
  background-color: #222;
  border-radius: 6px;
}
.list li a {
  color: #f4f4f4;
}