.formClass {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.formInput {
    padding: 5px;
    margin-top: .4rem;
    margin-bottom: 1rem;
}

.formButton {
    background-color: maroon;
    border: 1px solid transparent;
    color: #fff;
    width: 100px;
    padding: 7px;
    cursor: pointer;
    transition: all .25s;
}

.formButton:hover {background-color: rgb(172, 1, 1);}

.formButton:active {
    background-color: rgba(172, 1, 1, 0);
    color: black;
    border: 1px solid black;
}