.userList {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 750px;
    height: auto;
    margin: 2rem auto;
    padding: 20px;
    border-radius: 10px;
    list-style: none;
}

.userListItem {
    border: 1px solid #666;
    padding: 6px;
    margin: .3rem;
    font-weight: bold;
}

.hidden {
    display: none;
}