.userList {
    transition: all .3s;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 20px;
}

.userListItem {
    border: 1px solid #666;
    padding: 6px;
    margin: .3rem;
    font-weight: bold;
}

.hidden {
    display: none;
}